/*----------------------------------------------------------*/
/*-------------------- General Styles ----------------------*/
/*----------------------------------------------------------*/

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

@font-face {
  font-family: Motorblock;
  src: url(fonts/Motorblock.ttf);
}

@font-face {
  font-family: Genesys;
  src: url(fonts/Genesys.ttf);
}

@font-face {
  font-family: NeueMachina-Regular;
  src: url(fonts/NeueMachina-Regular.otf);
}


/*----------------------------------------------------------*/
/*---------------------- NAVIGATION ------------------------*/
/*----------------------------------------------------------*/

.navbar {
  padding: 1rem;
  background-color: #f5f6f7;
  font-family: Genesys;
  font-size: 20px;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.navbar-brand img {
  border-radius: 50%;
  margin-left: 15px;
}

.nav-link {
  margin: 15px;
}

/*----------------------------------------------------------*/
/*---------------------- SECTION HERO ----------------------*/
/*----------------------------------------------------------*/

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
  font-family: Motorblock;
}

.hero-imagen-desarrollador {
  max-width: 200px;
  /* width: 200px;
  height: 200px; */
  /* border-radius: 50%; */
  padding: 10px;
}

.hero-principal {
  padding: 3rem;
}

.typed {
  color: rgb(6, 87, 6);
}

/*----------------------------------------------------------*/
/*------------------------ ABOUT ME ------------------------*/
/*----------------------------------------------------------*/
.dark-section {
  background-color: #1b1b32;
  color: #fff;
}

.about-me {
  height: 500px;
  padding: 10px;
}

.title-section {
  font-size: 2rem;
  font-family: NeueMachina-Regular;
  text-align: center;
  padding: 15PX 0;
}

.about-me .text-section {
  max-width: 600px;
  font-family: NeueMachina-Regular;
  text-align: justify;
}

/*----------------------------------------------------------*/
/*----------------------- EXPERIENCE -----------------------*/
/*----------------------------------------------------------*/


.experiencia {
  padding: 40px 20px 60px 20px;
  font-family: NeueMachina-Regular;
}

.light-section {
  color: #000;
  background-color: #fff;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 16px;
  border-radius: 50%;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

.columna:nth-child(1) {
  clip-path: circle(40% at top);
  color: transparent;
}

.columna:nth-child(2) {
  clip-path: circle(40% at top);
  color: transparent;
}

.columna:nth-child(3) {
  clip-path: circle(40% at top);
  color: transparent;
}

.capa {
  background-color: rgba(0, 0, 0, 1);
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* text-align: justify;
  word-spacing: 0; */

  /* clip-path: circle(50% at top left); */
  transition-property: clip-path, background-color;
  transition-duration: 1.5s;
  /* transition: all 0.2s ease-in; */
}


.columna:nth-child(1):hover {
  clip-path: circle(150% at bottom);
  background: none;
  color: #000;
}

.columna:nth-child(2):hover {
  clip-path: circle(150% at bottom);
  background: none;
  color: #000;
}

.columna:nth-child(3):hover {
  clip-path: circle(150% at bottom);
  background: none;
  color: #000;
}



/*----------------------------------------------------------*/
/*---------------------- RESPONSIVE ------------------------*/
/*----------------------------------------------------------*/

@media (max-width: 768px) {
  .navbar-brand {
    display: none;
  }
}

@media (max-width: 768px) {
  button.navbar-toggler {
    margin: 0 0 0 15px;
  }
}

@media (max-width: 768px) {
  .hero-principal h1 {
    margin: 10px 0;
  }
}


@media (min-width: 768px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }

}

@media (min-width: 280px) and (max-width: 715px) {
  .typed, .activity {
    display: none;
  }
}

@media (max-width: 445px) {
  .contenedor {
    overflow-y: scroll;
    overflow-wrap: normal;
  }

  .text-section {
    margin: 0 10px;
  }
}

@media (min-width: 768px) and (max-width: 820px) {

  .columna:nth-child(1) {
    clip-path: circle(45% at top left);
    color: transparent;
    text-align: center;

  }

  .columna:nth-child(2) {
    clip-path: circle(45% at top left);
    color: transparent;
    text-align: center;
  }

  .columna:nth-child(3) {
    clip-path: circle(45% at top left);
    color: transparent;
    text-align: center;

  }
}


@media (min-width: 820px) and (max-width: 844px) {

  .columna:nth-child(1) {
    clip-path: circle(25% at top);
    color: transparent;
  }

  .columna:nth-child(2) {
    clip-path: circle(25% at top);
    color: transparent;
  }

  .columna:nth-child(3) {
    clip-path: circle(25% at top);
    color: transparent;

  }
}

@media (min-width: 844px) and (max-width: 1102px) {

  .columna:nth-child(1) {
    clip-path: circle(30% at top);
    color: transparent;
  }

  .columna:nth-child(2) {
    clip-path: circle(30% at top);
    color: transparent;
  }

  .columna:nth-child(3) {
    clip-path: circle(30% at top);
    color: transparent;

  }
}
